<%= form_with scope: :product,:url => products_path,remote: true do |form| %>

<!-- <input type="hidden" name="product" value="<%#=@product.id%>"> -->
  <div class="rTableCell">
   
    <%= form.text_field :product_name %>
  </div>
<div class="rTableCell">

 <%= form.text_field :product_description %>
  </div>

 

  <div class="rTableCell">
 
    <%= form.text_field :brand_name %>
  </div>

  <div class="rTableCell">
     <%= submit_tag 'create', :name => 'commit'%>
  </div>
<% end %>

